{% extends 'base.html.twig' %}

{% block title %}Login | Cloud Arch{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-7 mx-auto mt-5">
                <div class="card radius-10">
                    <div class="card-body p-4">
                        <div class="mx-auto my-auto d-flex align-items-center justify-content-center">
                            <img src="{{ asset('/images/light_logo.png') }}" alt="logo ArchCloud" width="200">
                        </div>
                        <div class="text-center">
                            <h4>Page de connexion</h4>
                            <p>Se connecter à votre compte</p>
                        </div>
                        <form class="form-body row g-3" method="post">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            {% if app.user %}
                                <div class="mb-3">
                                    You are logged in as {{ app.user.userIdentifier }}, <a
                                            href="{{ path('app_logout') }}">Logout</a>
                                </div>
                            {% endif %}
                            <div class="col-12">
                                <label for="inputEmail" class="form-label">Email</label>
                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                       class="form-control" autocomplete="email" required autofocus>
                            </div>
                            <div class="col-12">
                                <label for="inputPassword" class="form-label">Mot de passe</label>
                                <input type="password" name="password" id="inputPassword" class="form-control"
                                       autocomplete="current-password" required>
                            </div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <div class="col-12 col-lg-6">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch"
                                           id="flexSwitchCheckRemember" name="_remember_me">
                                    <label class="form-check-label" for="flexSwitchCheckRemember">Se souvenir de
                                        moi</label>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 text-end">
                                <a href="{{ path('app_forgot_password_request') }}">Mot
                                    de passe oublié ?</a>
                            </div>
                            <div class="col-12 col-lg-12">
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primary">Se connecter</button>
                                </div>
                            </div>
                            <div class="col-12 col-lg-12 text-center">
                                <p class="mb-0">Vous n'avez pas de compte ? </p>
                                <a href="{{ path('app_registration') }}">Créer
                                    un compte</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
