{% extends 'app.html.twig' %}

{% block title %}Profil | Cloud Arch{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 col-lg-8 col-xl-9">
            <div class="card overflow-hidden radius-10">
                <div class="profile-cover bg-dark position-relative mb-4">
                    <div class="user-profile-avatar shadow position-absolute top-50 start-0 translate-middle-x">
                        {% if user.imageFilename %}
                            <img style="object-fit: cover;" src="{{ asset('uploads/images/' ~ user.imageFilename) }}"
                                 alt="User image">
                        {% else %}
                            <img style="object-fit: cover;" src="{{ asset('assets/images/avatars/062.png') }}"
                                 alt="Default image">
                        {% endif %}
                    </div>
                </div>
                <div class="card-body">
                    <div class="mt-5 d-flex align-items-start justify-content-between">
                        <div class="">
                            <h3 class="mb-2">{{ user.firstname }} {{ user.lastname }}</h3>
                            <div class="d-flex flex-column gap-2">
                                <span>{{ user.streetNumber }} {{ user.streetAddress }} , {{ user.postalCode }} , {{ user.city }}</span>
                                <span>{{ user.country }}</span>
                                <span>{{ user.phone }}</span>
                                <strong><span>Inscris depuis le : {{ user.registrationDate|date('d/m/Y') }}</span></strong>
                            </div>
                        </div>
                        <div class="">
                            <a href="{{ path('app_update', {'id': user.id}) }}" class="btn btn-outline-primary">Modifier</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h6 class="mb-0">Espace de stockage</h6>
                </div>
                <div class="card-body">
                    <div class="d-flex align-items-center font-13">
                        <span class="border px-1 rounded cursor-pointer">Stockage total : {{ user.totalStorage }} Go</span>
                    </div>
                    <div class="d-flex align-items-center font-13 mt-2">
                        <span class="border px-1 rounded cursor-pointer"><i class="bx bxs-circle me-1 text-danger"></i>Stockage utilisé : {{ storageUsed|format_size }}</span>
                    </div>
                    <div class="d-flex align-items-center font-13 mt-2">
                        <span class="border px-1 rounded cursor-pointer"><i class="bx bxs-circle me-1 text-primary"></i>Stockage disponible : {{ availableStorage|format_size }}</span>
                    </div>
                    <div class="chart-container3">
                        <div class="piechart-legend">
                            <h2 class="mb-1">{{ user.totalStorage }} Go</h2>
                            <h6 class="mb-0">Stockage total</h6>
                        </div>
                        <canvas id="chart2" data-used-storage="{{ (storageUsed / (1024 ** 3) )|format_size(false) }}" data-available-storage="{{ availableStorage|format_size(false) }}"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 col-xl-3">
            <div class="card radius-10">
                <a href="{{ path('app_file') }}">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="widget-icon-2 bg-gradient-info text-white">
                                <ion-icon name="document-text-sharp"></ion-icon>
                            </div>
                        </div>
                        <h5 class="my-3 text-black">Documents </h5>
                        <div class="progress mt-1" style="height: 5px;">
                            <div class="progress-bar bg-gradient-info" role="progressbar"
                                 style="width: {{ storagePercentage }}%">
                            </div>
                        </div>
                        <p class="mb-0 mt-2">{{ totalFiles }} {{ totalFiles == 1 ? 'Fichier' : 'Fichiers' }}
                            <span class="float-end">{{ user.totalStorage }} Go</span>
                        </p>
                    </div>
                </a>
            </div>

            <div class="card radius-10">
                <a href="{{ path('app_invoice') }}">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="">
                                <h5 class="mb-1 text-black">Factures</h5>
                                <h4 class="mb-0 text-orange">{{ invoices }}</h4>
                            </div>
                            <div class="ms-auto widget-icon bg-light-orange text-orange">
                                <ion-icon name="newspaper-sharp"></ion-icon>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="card radius-10">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <h5 class="mb-1">Boostez votre stockage</h5>
                            <a href="{{ path('create_checkout_session_storage') }}" class="mb-0 text-success">Ajoutez 20
                                Go maintenant
                                !</a>
                        </div>
                        <div class="ms-auto widget-icon bg-light-success text-success fs-2">
                            <ion-icon name="wallet-sharp"></ion-icon>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}