{% extends 'app.html.twig' %}

{% block title %}Modification | Cloud Arch{% endblock %}

{% block content %}

            <!--start breadcrumb-->
            <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
                <div class="breadcrumb-title pe-3">Pages</div>
                <div class="ps-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-0 align-items-center">
                            <li class="breadcrumb-item"><a href="{{ path('app_home') }}"><ion-icon name="home-outline"></ion-icon></a></li>
                            <li class="breadcrumb-item"><a href="{{ path('app_profile') }}">Profil</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Modifier son profil</li>
                        </ol>
                    </nav>
                </div>
                <div class="ms-auto">
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-primary">Settings</button>
                        <button type="button" class="btn btn-outline-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">	<span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">	<a class="dropdown-item" href="javascript:;">Action</a>
                            <a class="dropdown-item" href="javascript:;">Another action</a>
                            <a class="dropdown-item" href="javascript:;">Something else here</a>
                            <div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--end breadcrumb-->

            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="card radius-10">
                        <div class="mb-4 d-flex flex-column gap-3 align-items-center justify-content-center">
                            <div class="user-change-photo shadow">
                                <img src="assets/images/avatars/06.png" alt="...">
                            </div>
                            <button type="button" class="btn btn-outline-primary btn-sm radius-30 px-4"><ion-icon name="image-sharp"></ion-icon>Change Photo</button>
                        </div>
                        <div class="card-body">
                            {{ form_start(updateForm, {'attr': {'class': 'form-body row g-3'}}) }}
                            <h5 class="mb-3 text-center">Modifier votre profil</h5>
                            <h5 class="mb-0 mt-4">Informations personnelles</h5>
                            <hr>
                            <div class="row g-3">
                                <div class="col-6">
                                    {{ form_label(updateForm.firstname) }}
                                    {{ form_widget(updateForm.firstname) }}
                                    {{ form_errors(updateForm.firstname) }}
                                </div>
                                <div class="col-6">
                                    {{ form_label(updateForm.email) }}
                                    {{ form_widget(updateForm.email) }}
                                    {{ form_errors(updateForm.email) }}
                                </div>
                                <div class="col-6">
                                    {{ form_label(updateForm.lastname) }}
                                    {{ form_widget(updateForm.lastname) }}
                                    {{ form_errors(updateForm.lastname) }}
                                </div>
                                <div class="col-6">
                                    {{ form_label(updateForm.password) }}
                                    {{ form_widget(updateForm.password) }}
                                    {{ form_errors(updateForm.password) }}
                                </div>
                            </div>

                            <h5 class="mb-0 mt-4">Informations de contacte</h5>
                            <hr>
                            <div class="row g-3">
                                <div class="col-4">
                                    {{ form_label(updateForm.street_number) }}
                                    {{ form_widget(updateForm.street_number) }}
                                </div>
                                <div class="col-8">
                                    {{ form_label(updateForm.street_address) }}
                                    {{ form_widget(updateForm.street_address) }}
                                </div>
                                <div class="mt-1">{{ form_errors(updateForm.street_number) }}</div>
                                <div class="mt-1">{{ form_errors(updateForm.street_address) }}</div>
                                <div class="col-4">
                                    {{ form_label(updateForm.postal_code) }}
                                    {{ form_widget(updateForm.postal_code) }}
                                    {{ form_errors(updateForm.postal_code) }}
                                </div>
                                <div class="col-4">
                                    {{ form_label(updateForm.city) }}
                                    {{ form_widget(updateForm.city) }}
                                    {{ form_errors(updateForm.city) }}
                                </div>
                                <div class="col-4">
                                    {{ form_label(updateForm.country) }}
                                    {{ form_widget(updateForm.country) }}
                                    {{ form_errors(updateForm.country) }}
                                </div>
                            </div>
                            <div class="row g-3">
                                <div class="text-end mt-3">
                                    <button type="submit" class="btn btn-primary px-4">Modifier</button>
                                    <a href="{{ path('app_delete') }}" class="btn btn-danger px-4" onclick="return confirm('Êtes-vous sûr de vouloir supprimer votre compte ? Cette action est irréversible.')">Supprimer le compte</a>
                                </div>
                            </div>
                            {{ form_end(updateForm) }}
                        </div>
                    </div>
                </div>
            </div>
            <!--end row-->
{% endblock %}