<!DOCTYPE html>
<html lang="fr" class="light-theme">
  <head>
    {% block head %}
      <title>{% block title %}Cloud Arch{% endblock %}</title>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
    {% block stylesheets %}
      <!--plugins-->
      <link href="{{ asset('/plugins/perfect-scrollbar/css/perfect-scrollbar.css') }}" rel="stylesheet" />
      <!-- CSS Files -->
      <link href="{{ asset('/styles/bootstrap.min.css') }}" rel="stylesheet">
      <link href="{{ asset('/styles/bootstrap-extended.css') }}" rel="stylesheet">
      <link href="{{ asset('/styles/style.css') }}" rel="stylesheet">
      <link href="{{ asset('/styles/icons.css') }}" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    {% endblock %}
    {% block javascripts %}
      {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
  </head>
  <body>
    {# include header#}
    <main>
        {% block body %}{% endblock %}
    </main>
    {# include footer #}
  </body>
</html>
